a {
    display: flex;
    color: #fff;
    margin-top: 2%;
    margin-left: 53%;
    text-decoration: none;
    font: 400 1.6rem Poppins;
}

a:hover {
    color: #9b3ee7;
    font-weight: 700;
}

.or-content {
    margin-top: 3%;
    margin-left: 17%;
}

hr {
    width: 33%;
    float: left;
    margin-top: 8%;
    border-color: #fff;
    box-sizing: border-box;
}

P {
    float: left;
    margin-top: 4.5%;
    font-size: 1.7rem;
    margin-left: 3%;
    margin-right: 3%;
}