a {
    display: flex;
    color: #fff;
    margin-top: 2%;
    margin-left: 11%;
    text-decoration: none;
    font: 400 1.6rem Poppins;
}

a:hover {
    color: #ccc;
}

.or-content {
    height: 10%;
    margin-left: 17%;
}

.container-google-auth h3 {
    font: 400 1.5rem Poppins;
    margin-bottom: -10%;
}

hr {
    width: 33%;
    float: left;
    margin-top: 7%;
    border-color: #fff;
    box-sizing: border-box;
}

P {
    float: left;
    margin-top: 4%;
    font-size: 1.7rem;
    margin-left: 3%;
    margin-right: 3%;
}