@keyframes responseAnimation {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(60%);
    }
}

.validate-sucess {
    animation-name: responseAnimation;
    animation-duration: 1s;
}

.message-user {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    margin-top: 10%;
    padding-right: 10%;
    font: 400 18px Poppins;
    color: white;
}