.container-content-left {
    width: 50%;
    height: 90%;
    float: left;
    transform: translateY(5%);
    background-color: white;
}

.container-content-right {
    width: 50%;
    float: left;
    height: 100%;
}

.left-content {
    float: left;
    padding: 3%;
    height: 100%;
    width: 90.99%;
    color: #fff;
    border-radius: 3%;
    text-align: center;
    align-items: center;
    font: 700 40px Poppins;
    justify-content: center;
    background: linear-gradient(
        0deg, 
        rgba(141,0, 255,1) 0%, 
        rgba(152,21,201,1) 16%, 
        rgba(184,87, 38,1) 37%, 
        rgba(217,107,97,1) 64%, 
        rgba(228,156,29,1) 100%, 
        rgba(249,190,87,1) 100%
    );
}

.right-content {
    float: left;
    height: 90%;
    width: 9.01%;
    background-color:white;
    transform: translateY(5%);
}

.top-content {
    height: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.bottom-content {
    background: url('../../assets/images/login-escola.jpg') no-repeat;
    height: 50%;
    background-size: contain;
    background-position: center;
}