@keyframes responseAnimation2 {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(29%);
    }
}

.validate-sucess2 {
    animation-name: responseAnimation2;
    animation-duration: 1s;
}

.message-user2 {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    margin-top: 10%;
    padding-right: 10%;
    font: 400 18px Poppins;
    color: #fff;
}